{% extends 'base.html' %}

{% block title %}About Us{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8 offset-md-2 mt-5">
        <h2>About Our Company</h2>
        <p>We are dedicated to providing innovative SaaS solutions tailored to meet the needs of our clients. Our mission is to empower businesses with scalable, efficient tools that streamline operations and foster growth.</p>
        <p>Our vision is to become a global leader in SaaS development by consistently delivering products that combine cutting-edge technology with user-centered design.</p>
    </div>
</div>
{% endblock %}