{% extends 'base.html' %}

{% block title %}BIS Group{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="jumbotron mt-5 text-center">
            <h1 class="display-4">Welcome to Beyond Infinite Service Group</h1>
            <p class="lead">We build cutting-edge SaaS products to solve your most complex problems.</p>
            <hr class="my-4">
            <p>Learn more about our mission and vision below.</p>
            <a class="btn btn-primary btn-lg" href="{{ url_for('main.about') }}" role="button">Learn more</a>
        </div>
    </div>
</div>
{% endblock %}
